<p>tdf works!</p>

<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control"
                ngModel name="myusername" #username="ngModel" required
                minlength="4" pattern="admin"
                 placeholder="Enter the Username">

                 <div class="alert alert-danger" 
                 *ngIf="username.touched && !username.valid"
                 >
                 ** Please Enter the Username 
                 <div *ngIf="username.errors.minlength">
                    ** Username required minimum length is {{username.errors.minlength.requiredLength}}
                 </div>

                 <div *ngIf="username.errors.pattern">
                    ** Username required appropriate pattern
                 </div>
                 </div>
            </div>
            <br>
            <div class="form-group">
                <label for="">Comment</label>
                <textarea ngModel name="comment" class="form-control"
                    #comment="ngModel" required
                 placeholder="Enter the comment" cols="30" rows="10">

                </textarea>
                <div class="alert alert-danger" 
                *ngIf="comment.touched && comment.invalid">
                    ** Please Enter the comment
                </div>

            </div>
            <br>
            <button class="btn btn-outline-success">Submit </button>

        </div>
    </div>

</div>