
<h1>This Is My First Angular Application</h1>

<!-- <app-student></app-student> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switch-directive></app-switch-directive> -->
<app-parent></app-parent>